<div class="header">
  <h1>Video List</h1>
    <form action="/" method="POST">
      <input type="text" name="title" placeholder="Artist...">
      <input type="text" name="description" placeholder="Title...">
      <input type="text" name="url" placeholder="Description...">
      <input type="text" name="category" placeholder="Category...">
      <input type="text" name="genre" placeholder="Genre...">
      <input type="text" name="url" placeholder="URL...">
      <button id="submit_button">Enter</button>
    </form>

  <input type="text" id="new-video" placeholder="Artist...">
</div>

<div id="video-details"></div>
<div id="iframe-container"></div>

$('#submit_button').on('click', function(event)
<iframe id="player" type="text/html" width="640" height="390"
  src="http://www.youtube.com/embed/prBaZzYmQrI"
  frameborder="0"></iframe>


