<!DOCTYPE html>
<html lang="en">
<head>
  <title>Video List</title>
  <link rel="stylesheet" href="/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/script.js"></script>
</head>
  <body>
    <header>
      <h1>Video List</h1>
    </header>
      <h3>Above the yield</h3>
      
        <%= yield %>
      
      <h3>Below the yield</h3>
      <div id="video">
  
  </body>
</html>