<!-- name="first" is the key in the params hash -->

<form action="/basic_calc" method="get">
  <label for="first">FIRST NUMBER</label>
  <input type="text" name="first" placeholder="Enter the first number">
  <label for="operator">OPERATOR</label>
  <input type="text" name="operator" placeholder="Enter the operator">
  <label for="second">SECOND NUMBER</label>
  <input type="text" name="second" placeholder="Enter the second number">
  <input type="submit">
</form>

<% if @result %>
<p>The Result of <%= @first %> <%= @operator %> <%= @second %> is: <%= @result %></p>
<% end %>

