<form action="/power" method="get">
  <label for="first">FIRST NUMBER</label>
  <input type="text" name="first" placeholder="Enter the first number">
  <label for="second">SECOND NUMBER</label>
  <input type="text" name="second" placeholder="Enter the second number">
  <input type="submit">
</form>

<% if @result %>
<p>The Result of <%= @first %> ** <%= @second %> is: <%= @result %></p>
<% end %>