body {
  margin: 0;
  padding: 0;
  background: #ccc;
}

footer {
  background: pink;
}

li {
  text-decoration: none;
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.0em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  padding: 3px;
  margin: 3px;
}
 
nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
nav a:hover {
  background-color: #005f5f;
}
 
nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.nav li {
  display: inline-block;
  margin-right: 4px;
}

input {
  margin: 1em 1em 1em;
}

input {
  padding: 0.4em 0.25em;
  width: 15%;
  background: transparent;
  color: #AFB5BB;
  font-size: 1.55em;
  display: inline;
}

label {
  padding: 0.4em 0.25em;
  /*width: 10%;*/
  background: transparent;
  color: #AFB5BB;
  font-size: 1.55em;
  display: inline;
}














 
