<!DOCTYPE html>
<html>
<head>
  <title>MemeTube with Sinatra</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav class='nav'>
    <li><a href="/">HOME - ENTER VIDEO DETAILS</a></li>
    <li><a href="/videos">MEME VIDEO LIST</a></li>
</nav>
<h1>I'm above yield</h1>
<%= yield %>
<h1>Below yield</h1>
</body>
</html>